name: show-directory
# on – определяет события, которые запускают воркфлоу
on: push
jobs:
  # build – произвольно выбранное имя задания
  # их может быть больше одного
  build:
    # операционная система для работы воркфлоу
    runs-on: ubuntu-latest
    steps: # список шагов, которые надо выполнить
      # экшен — выполняет какую-то задачу
      # checkout — клонирует репозиторий
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
      # run – произвольная bash-команда
      - run: make setup
      - run: make lint
      - run: make test
      - uses: hexlet-components/hello-from-hexlet-action@release